.alert-danger {
  background: rgba(242, 16, 16, 0.1);
  color: #F21010;
  border: none;
  border-radius: 5px;
}
.alert-warning {
  background: rgba(243, 141, 4, 0.2);
  border-radius: 5px;
  color: #3F3D56;
}