.btn {
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
}
.btn-primary {
  background-color: $primary-color !important;
  color: #ffffff;
  border: none !important;
}
.btn-primary:focus, .btn-primary:active {
  background-color: darken($primary-color, 5%) !important;
  box-shadow: none;
  outline: none;
}
.btn-outline-primary {
  background-color: #fff !important;
  color: $primary-color;
  border: 1px solid $primary-color !important;
}
.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:hover {
  background-color: $primary-color !important;
  box-shadow: none;
  outline: none;
}